<article class="chirp">
    <div class="titlebar">
        <a href="#/user/:{{username}}" class="chirp-author">{{username}}</a>
        <span class="chirp-time">{{created}}</span>
    </div>
    <p>{{text}}</p>
</article>