<section id="viewFeed">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{name}}</h2>

            <form id="formSubmitChirp" method="post" action="#/create" class="chirp-form">
                <textarea name="text" class="chirp-input"></textarea>
                <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
            </form>

            <div id="userStats" class="user-details">
                <span>0 chirps</span> | <span>1 following</span> | <span>0 followers</span>
            </div>
        </div>
        <div id="chirps" class="chirps"><h2 class="titlebar">Chirps</h2>
                {{#each chirps}}
                    {{> chirp}}
                {{else}}
                    <div>
                        <p>No chirps in database!</p>
                    </div>
                {{/each}}


            <!-- TODO Load more articles -->
        </div>
    </div>
</section>