<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{price}}</td>
    <td>
        <form method="post" action="#/purchase/:{{_id}}">
            <button type="submit">Purchase</button>
        </form>
    </td>
</tr>