<div class="userbox">
    <div><a href="#/user/:{{username}}" class="chirp-author">{{username}}</a></div>
    <div class="user-details">
        <span>{{followersCount}} followers</span>
    </div>
</div>