<header id="menu" class="menu">
    {{#each headers}}
    <a href="#" id="{{id}}" class="menu-item" style="display: inline" >{{name}}</a>
    {{/each}}
    <span id="loggedInUser" class="menu-item"></span>
    <div></div>
</header>