
    <header class="clearfix" id="profile">
        <div id="cashier">
            <span>Cashier: </span>
            <a href="#/archive">{{username}}</a>
        </div>

            <nav id="nav">
                <ul>
                    <li>
                        <a href="#/home">Overview</a>
                    </li>
                    <li>
                        <a href="#/archive">Archive</a>
                    </li>
                    <li>
                        <a href="#/_logout" class="logout">Logout</a>
                    </li>
                </ul>
            </nav>
    </header>



