<form action="#/login" method="post">
    <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" type="text" id="username" value="test" name="username"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" id="password" value="123" name="password"/>
    </div>
    <input class="btn btn-default" type="submit" value="Login"/>
</form>